@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.header .logo {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 50px;
}
.header .logo__container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.header .logo__container--categories {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header .logo__container--menu--mobile {
  display: none;
}
.header .logo__container--menu--mobile i {
  color: black;
  font-size: 24px;
}
.main .free__container {
  background-color: black;
  height: 45px;
  color: white;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.main .free__container--link {
  color: white;
  text-decoration: underline;
}
.main .Refresh {
  background: #451314;
  height: auto;
}
.main .Refresh__container {
  display: flex;
  width: 97%;
  margin: 0 auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.main .Refresh__container--left img {
  width: 612px;
  height: 702px;
}
.main .Refresh__container--right {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding-top: 200px;
}
.main .Refresh__container--right h3 {
  font-size: 48px;
  color: white;
}
.main .Refresh__container--right span {
  font-size: 16px;
  color: white;
}
.main .Refresh__container--right button {
  height: 55px;
  width: 130px;
}
.main .Refresh__container--right button:hover {
  filter: contrast(0.5);
}
.main .collection__container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.main .collection__container--word {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  padding-top: 70px;
}
.main .collection__container--word--name {
  font-size: 40px;
}
.main .collection__container--word--span {
  font-size: 16px;
}
.main .collection__container--word--button {
  height: 60px;
  padding: 20px 0;
  width: 110px;
  background-color: #3e0101;
  color: white;
  border: none;
}
.main .collection__container--word--button:hover {
  filter: contrast(0.5);
}
.main .collection__container--cards {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.main .collection__container--cards--scale {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.main .collection__container--cards--photo {
  display: flex;
  width: 264px;
  height: 532px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main .collection__container--cards--photo img {
  width: 264px;
  height: 400px;
}
.main .inspired {
  background-image: url(../img/затмение.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vh;
}
.main .inspired__container--name {
  color: white;
  text-align: center;
  padding-top: 90px;
  font-size: 48px;
}
.main .roat {
  margin-top: 50px;
}
.main .roat__container {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  width: 95%;
  margin: 0 auto;
}
.main .roat__clozing--img img {
  width: 100%;
}
.main .roat__clozing--word {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.main .roat__clozing--word h3 {
  font-size: 28px;
}
.main .roat__clozing--word p {
  font-size: 18px;
}
.main .roat__clozing--word button {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}
.main .roat__clozing--word button:hover {
  filter: contrast(0.5);
}
.main .roat__Accessories--img img {
  width: 100%;
}
.main .roat__Accessories--word {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.main .roat__Accessories--word h3 {
  font-size: 28px;
}
.main .roat__Accessories--word p {
  font-size: 18px;
}
.main .roat__Accessories--word button {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}
.main .roat__Accessories--word button:hover {
  filter: contrast(0.5);
}
.main .scroal {
  background-image: url("../img/tap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
  height: auto;
}
.main .scroal__container--word {
  padding-top: 50px;
  width: 95%;
  margin: 0 auto;
  color: white;
}
.main .scroal__container--word p {
  font-size: 24px;
}
.main .scroal__container--word h3 {
  width: 55%;
  font-size: 64px;
}
.main .scroal__container--word input {
  width: 30%;
  height: 40px;
  font-size: 16px;
  padding: 0 12px;
  box-sizing: border-box;
}
.main .scroal__container--word button {
  width: 100px;
  height: 45px;
  background-color: black;
  color: white;
  margin-top: 20px;
  border: none;
}
.main .scroal__container--word button:hover {
  filter: contrast(0.5);
}

@media screen and (max-width: 991px) {
  .logo__container--menu--mobile {
    display: inline;
  }
  .logo__container--menu {
    display: none;
  }
  .Refresh__container {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
  }
  .Refresh__container--left img {
    width: 100% !important;
    height: 300px !important;
    margin-top: 20px;
  }
  .collection__container {
    display: flex;
    flex-direction: column;
  }
  .collection__container--word {
    row-gap: 60px !important;
    width: 80% !important;
    margin: 0 auto;
  }
  .collection__container--cards {
    display: block !important;
    width: 50% !important;
    margin: 0 auto;
  }
  .collection__container--cards--scale {
    display: flex;
    flex-direction: column-reverse;
  }
  .collection__container--cards--scale {
    display: block !important;
  }
  .collection__container--cards--photo {
    height: 410px;
  }
  .roat__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .roat__clozing--word {
    margin-bottom: 20px;
  }
  .scroal__container--word h3 {
    font-size: 30px !important;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .collection__container--word--button {
    margin: 20px auto;
  }
}
@media screen and (max-width: 767px) {
  .logo__container--menu--mobile {
    display: inline;
  }
  .logo__container--menu {
    display: none;
  }
  .Refresh__container {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
  }
  .Refresh__container--left img {
    width: 100% !important;
    height: 300px !important;
    margin-top: 20px;
  }
  .collection__container {
    display: flex;
    flex-direction: column;
  }
  .collection__container--word {
    row-gap: 60px !important;
    width: 80% !important;
    margin: 0 auto;
  }
  .collection__container--cards {
    display: block !important;
    width: 50% !important;
    margin: 0 auto;
  }
  .collection__container--cards--scale {
    display: flex;
    flex-direction: column-reverse;
  }
  .collection__container--cards--scale {
    display: block !important;
  }
  .collection__container--cards--photo {
    height: 410px;
  }
  .roat__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .roat__clozing--word {
    margin-bottom: 20px;
  }
  .scroal__container--word h3 {
    font-size: 30px !important;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .collection__container--word--button {
    margin: 20px auto;
  }
}/*# sourceMappingURL=index.css.map */