* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.header {
  position: fixed;
    background-color: white;
    width: 100%;
  .nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    
  }
  .nav__logo {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  .nav__menu {
    display: flex;
    list-style: none;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .nav__link {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    letter-spacing: 0.3px;
  }
  
  .nav__link:hover {
    border-bottom: 1px solid;
  }
  
}
.mobile {
  width: 90%;
  padding: 20px 0px;
  background-color: #fff;
  margin: auto;
  display: none;
  justify-content: space-between;
  

  // .mobile__logo--container

  &__logo--container {
      
  }

  // .mobile__logo

  &__logo {
      color: #000;
      font-size:22px;
      font-weight:600 !important;
      letter-spacing: 0.4;
  }

  // .mobile__button--container

  &__button--container {
      
  }

  // .mobile__button

  &__button {
      cursor: pointer;
      border: none;
      outline: none;
      background-color: inherit;
      color: #000;
      font-size: 40px;
  }
}
.main {
  .free {
    &__container {
      background-color: black;
      height: 45px;
      color: white;
      padding-top: 15px;
      display: flex;
      justify-content: center;
    }
    &__container--link {
      color: white;
      text-decoration: underline;
    }
  }
  
  .Refresh {
    background: #451314;
    height: auto;


.Refresh__free__containe{
  background-color: #000;
  
  display: flex;
    padding-top: 94px;
    padding-bottom: 15px;
    justify-content: center;
    span{
      color: white;
      
    }
    a{
      color: white;
      text-decoration: underline;
    }
}
    // .Refresh__container

    &__container {
      display: flex;
      width: 97%;
      margin: 0 auto;
      column-gap: 50px;
    }

    // .Refresh__container--left

    &__container--left {
      img {
        width: 612px;
        height: 702px;
      }
    }

    // .Refresh__container--right

    &__container--right {
      display: flex;
      flex-direction: column;
      row-gap: 100px;
      padding-top: 200px;
      h3 {
        font-size: 48px;
        color: white;
      }
      span {
        font-size: 16px;
        color: white;
      }
      button {
        height: 55px;
        width: 130px;
        &:hover {
          filter: contrast(0.5);
        }
      }
    }
  }

  .collection {
    // .collection__container

    &__container {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }

    // .collection__container--word

    &__container--word {
      display: flex;
      flex-direction: column;
      row-gap: 90px;
      padding-top: 70px;
      &--name {
        font-size: 40px;
      }
      &--span {
        font-size: 16px;
      }
      &--button {
        height: 60px;
        padding: 20px 0;
        width: 110px;
        background-color: #3e0101;
        color: white;
        border: none;
        &:hover {
          filter: contrast(0.5);
        }
      }
    }

    // .collection__container--cards

    &__container--cards {
      display: flex;
      column-gap: 6px;
    }

    // .collection__container--cards--scale

    &__container--cards--scale {
      display: flex;
      column-gap: 6px;
    }

    // .collection__container--cards--photo

    &__container--cards--photo {
      display: flex;
      width: 264px;
      height: 532px;
      column-gap: 10px;
      img {
        width: 264px;
        height: 400px;
      }
    }
  }
  .inspired {
    background-image: url(../img/затмение.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    height: 73vh;

    // .inspired__container

    &__container {
    }

    // .inspired__container--name

    &__container--name {
      color: white;
      text-align: center;
      padding-top: 90px;
      font-size: 48px;
    }
  }
  .roat {
    margin-top: 50px;

    // .roat__container

    &__container {
      display: flex;
      column-gap: 25px;
      width: 95%;
      margin: 0 auto;
    }

    // .roat__clozing

    &__clozing {
    }

    // .roat__clozing--img

    &__clozing--img {
      img {
        width: 100%;
      }
    }

    // .roat__clozing--word

    &__clozing--word {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 18px;
      }

      button {
        width: 150px;
        height: 50px;
        background-color: black;
        color: white;
        border: none;
        &:hover {
          filter: contrast(0.5);
        }
      }
    }

    // .roat__Accessories

    &__Accessories {
    }

    // .roat__Accessories--img

    &__Accessories--img {
      img {
        width: 100%;
      }
    }

    // .roat__Accessories--word

    &__Accessories--word {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 18px;
      }
      button {
        width: 150px;
        height: 50px;
        background-color: black;
        color: white;
        border: none;
        &:hover {
          filter: contrast(0.5);
        }
      }
    }
  }
  .scroal {
    background-image: url("../img/tap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    height: auto;

    // .scroal__container

    &__container {
    }

    &__container--word {
      padding-top: 50px;
      width: 95%;
      margin: 0 auto;
      color: white;
      padding-bottom: 40px;
      p {
        font-size: 24px;
      }
      h3 {
        width: 55%;
        font-size: 64px;
      }
      input {
        width: 30%;
        height: 40px;
        font-size: 16px;
        padding: 0 12px;
        box-sizing: border-box;
      }
      button {
        width: 100px;
        height: 45px;
        background-color: black;
        color: white;
        margin-top: 20px;
        border: none;
       
        &:hover {
          filter: contrast(0.5);
        }
      }
    }
  }
}
.footer {
  width: 100%;
  background: #fff;
  padding: 100px 0px;
}
.footer__container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 30px;
}
.footer__link {
  font-size: 18px;
  color: #000;
  letter-spacing: 0.4px;
  text-decoration: underline;
}
.footer__sosial {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.footer__sosial--head {
  font-size: 32px;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.footer__mail--adres {
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 0.4px;
  color: #000;
  text-decoration: underline;
}
.footer__sosial--icon {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer__icon {
  font-size: 20px;
  color: #000;
}

@media screen and (max-width: 991px) {
    .nav{
      display: none !important;
    }
    .mobile{
      display: flex !important;
    justify-content: space-between;
    width: 80% !important;
    margin: 0 auto;
    }
    .Refresh__container{
        display: flex !important;
    flex-direction: column-reverse !important;
    width: 80% !important;
    margin: 0 auto !important;
    }
    .Refresh__container--left{
        img{
            width: 100% !important;
    height: 300px !important;
    margin-top: 20px;
        }
    }
    .collection__container{
        display: flex !important;
        flex-direction: column;
    }
    .collection__container--word{
       
    row-gap: 60px !important;
    
    width: 80% !important;
    margin: 0 auto;
    }
    .collection__container--cards{
        display: block !important;
        width: 78% !important;
        margin: 0 auto;
    }
    .collection__container--cards--scale{
        display: flex !important;
        flex-direction: column-reverse;
    }
    .collection__container--cards--scale{
        display: block !important;
    }
    .collection__container--cards--photo{
        height: 410px;
    }
    .roat__container{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .roat__clozing--word{
        margin-bottom: 20px;

    }
    .scroal__container--word{
        h3{
            font-size: 30px !important;
        padding-top: 20px;
        padding-bottom: 15px;
        }
        
    }
    .collection__container--word--button{
        margin: 20px auto;
    }
    .footer__container{
      display: block;
    }
    .footer__sosial--head{
      font-size: 31px;
      margin-top: 20px;
    }
    .collection__container--cards--photo{
      width: 100% !important;
      img{
        width: 80vw !important;
      }
    }
}


@media screen and (max-width: 767px) {
    .logo__container--menu--mobile{
        display: inline;
    }
    .logo__container--menu{
        display: none;
    }
    .Refresh__container{
        display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
    }
    .Refresh__container--left{
        img{
            width: 100% !important;
    height: 300px !important;
    margin-top: 20px;
        }
    }
    .collection__container{
        display: flex;
        flex-direction: column;
    }
    .collection__container--word{
       
    row-gap: 60px !important;
    
    width: 80% !important;
    margin: 0 auto;
    }
    .collection__container--cards{
        display: block !important;
        width: 78% !important;
        margin: 0 auto;
    }
    .collection__container--cards--scale{
        display: flex;
        flex-direction: column-reverse;
    }
    .collection__container--cards--scale{
        display: block !important;
    }
    .collection__container--cards--photo{
        height: 410px;
    }
    .roat__container{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .roat__clozing--word{
        margin-bottom: 20px;

    }
    .scroal__container--word{
        h3{
            font-size: 30px !important;
        padding-top: 20px;
        padding-bottom: 15px;
        }
        
    }
    .collection__container--word--button{
        margin: 20px auto;
    }
    .footer__container{
      display: block;
    }
    .footer__sosial--head{
      font-size: 31px;
      margin-top: 20px;
    }
}

